#syrup-shop-hours-editor-template {
  display: none;
}

#syrup-shop-hours-editor .wd-group {
  margin: 0 14px;
}

#syrup-shop-hours-editor a.delete {
  color: red;
}

#syrup-location-preview-map {
  position: absolute;
  left: 640px;
  width: 320px;
  height: 320px;
}

#createshop .form-field input, #updateshop .form-field input,
#creategroup .form-field input, #updategroup .form-field input {
  width: 25em;
}

#createshop .form-field input.half-text, #updateshop .form-field input.half-text,
#creategroup .form-field input.half-text, #updategroup .form-field input.half-text {
  width: 10em;
}
