#syrup-map img {
    max-width: none;
}

#syrup-map {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}

.syrup-info h3 {
    font-size: 1.1em;
    margin: 0;
    margin-top: 3px;
}
