.syrup-map {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    clear: both;
}

.syrup-map img {
    max-width: none;
}

.syrup-info h3 {
    font-size: 1.1em;
    margin: 0;
    margin-top: 3px;
}

.toggle {
    margin: 0 0 8px;
}

.toggle .toggle-item {
    display: inline-block;
}

.toggle .toggle-item input[type="radio"] {
    display: none
}

.toggle .toggle-item label {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 4px 4px 0;
    padding: 0 6px;
}

.toggle .toggle-item input[type="radio"]:checked + label {
    background: lightgray;
}

.conditions {
    padding: 12px;
}

.area-selector {
    margin-bottom: 12px;
    float: left;
}

.now-option {
    float: right;
}

.shop-card-list {
    padding: 12px;
}

.shop-card {
    position: relative;
    margin-top: 12px;
}

.shop-card:first-child {
    margin-top: 0;
}

.shop-card .media-img {
    display: block;
    float: left;
    width: 120px;
    height: 120px;
}

.shop-card .media-img img {
    border-radius: 60px;
}

.shop-card .media-body {
    padding-top: 50px;
    padding-left: 132px;
}

.shop-card .media-body a {
    text-decoration: none;
    color: black;
}

.shop-card .media-body ul {
    margin: 8px 0 0;
    padding: 0;
}

.shop-card .media-body ul li {
    display: inline-block;
    list-style: none;
    margin: 0 4px 2px 0;

    font-size: 0.75em;
    color: white;
    border-radius: 6px;
    background-color: darkgray;
    padding: 1px 5px;
    font-weight: 100;
    letter-spacing: 0.06em;
}
