.syrup-map {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    margin-bottom: 12px;
}

.syrup-map img {
    max-width: none;
}

.syrup-info h3 {
    font-size: 1.1em;
    margin: 0;
    margin-top: 3px;
}

.toggle {
    margin: 0 0 8px;
}

.toggle .toggle-item {
    display: inline-block;
}

.toggle .toggle-item input[type="radio"] {
    display: none
}

.toggle .toggle-item label {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 4px 4px 0;
    padding: 0 6px;
}

.toggle .toggle-item input[type="radio"]:checked + label {
    background: lightgray;
}

.area-selector {
    margin-bottom: 12px;
}

.shop-card {
    position: relative;
}

.shop-card aside {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.4em 0.6em;
    color: white;
    width: 100%;
    font-size: 80%;
    text-align: right;
    background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */
}

.shop-card aside span {
    color: #eee;
}

.shop-card aside span a {
    color: #eee;
    text-decoration: none;
    border: 0;
}
